body{
     background-color: rgb(61, 83, 82);
}

#xbox{

    animation-name: xbox;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

  @keyframes xbox {
    5%{background-color: aquamarine;}
    15%{background-color: rgb(217, 231, 92);}
    25%{background-color: rgb(7, 117, 81);}
    40%{background-color: rgb(62, 72, 161);}
    55%{background-color: rgb(50, 204, 70);}
    75%{background-color: rgb(182, 58, 172);}
    85%{background-color: rgb(209, 61, 61);}
    100%{background-color: rgba(110, 56, 92, 0.692);}
  }
#con1{
    display: none;
    background-color: rgb(83, 83, 33);
    padding: 20px;
    text-align: center;
   
}

#con:hover p {
 display: block;

}

/* *{
  margin: 0;
  padding:0; 
} */
body,html{
  height: 100vh;
  width: 100vw;
}
iframe{
  width: 100%;
  height: 100%;
}